.move-indicator {
    color: white;
    font-size: 1.8rem;
    padding: 20px 0;
}

.o-move {
    background-color: red;
}

.x-move {
    backgorund-color: yellow;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.circle {
    background: red;
    border-radius: 50%;
    padding: 2px 2px;
    width: 28px;
    height: 28px;
}

.yellow {
    background: yellow;
}

.square:focus {
    outline: none;
}
