body {
    background-color: blue;
}

.app-title {
    margin: 40px 0;
    font-size: 2.5rem;
    color: white;
}
.app-title span {
    color: yellow;
}

.start-game-button {
    margin: 40px 0;
}

.screen {
    height: 100%;
}
